*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    padding: 60px 0;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header{
    width: 100%;
    height:717px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/ingenieriadesoftware-l-.jpg);
    background: linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/ingenieriadesoftware-l-.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    background:rgba(42, 64, 118, 0.7);;
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
}

nav>a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
    font-size: 20px;
}

.text-header{
    display: flex;
    height: 385px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}

.text-header h1{
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 0px;
    text-transform: uppercase;
}

.text-header h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 35%;
    padding-bottom: 10px;
}

.text-header button{ 
    color: #2e5fd1;
    padding: 10px 65px 10px 65px;
    border-radius: 28px;
    border: 0px;
    font-size: 25px;
    margin-top: 30px;
}
.wave-one{
    background: url(../img/wave.svg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.title-into-wave{
    color: #fff;
    font-size: 55px;
    text-align: center;
    padding-top: 13%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.wave-one p{
    color: #fff;
    text-align: center;
    padding: 0px 177px;
    font-size: 20px;
}

main{
    background: #1c4caa;
}
.quienes{
    color: #fff;
    text-align: center;
    height: 400px;  
}
.estudiante{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    padding: 70px 50px;
    height: 400px;
    padding-bottom: 0px;
}
.estudiantes img{
    width: 150px;
    height: 150px;
    border-radius: 50%; 
}
.content-text-estud h2{
    color: #fff;
    padding: 23px;
    text-align: center
}
.content-text-estud p{
    color: #fff;
    width: 240px;
  
}
.laboratory{
    background-color: #fff;
    overflow: hidden;
    height:589px;
}
.lab{
    display: flex;
    margin-bottom: 0px;
    padding-left: 100px;
    padding-top: 50px;
}
.lab img{
    width: 290px;
    height: 287px;
    border-radius: 50%;
}
.content-text-lab{
    padding-left: 110px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 250px;
}
.lab h1{
    color: #1c4caa;
    font-size: 45px;
}
.lab p{
    color: #1c4caa;
    font-size: 22px;
    padding-top: 20px;
}
.lab button{
    color: white;
    padding: 10px 65px 10px 65px;
    border-radius: 28px;
    border: 0px;
    font-size: 20px;
    margin-top: 40px;
    background-color: #1c4caa;
    cursor: pointer;
}
.ola{
    background: url(../img/wave1.svg);
    height: 700px;
    width: 119%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}
.estadistica{
    height: 450px;
}
.estadistica h1{
    font-size:50px;
    text-align: center;
    color:#fff;
}
.estadistica p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 20px 200px;
}
.estadistica1{
    display:flex;
    padding: 60px 225px;
}
.estad h2 span{
    background: #1c4caa;
    color: #fff;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 50%;
    margin-right: 100px;
    padding: 30px;
    box-shadow: 0px 0px 0px 3px #fff;
    font-size: 39px;
}
.acm{
    font-size: 20px;
}
.ciudadela{
    background-color: #fff;
    overflow: hidden;
    height:560px;
}
.ciu{
    display: flex;
    padding-left: 140px;
    padding-right: 100px;
    margin-top: 130px
}
.ciu img{
    width: 330px;
    height: 330px;
    border-radius: 50%;
    margin-left: 10px;
}
.content-text-ciu{
    margin-top: 60px;
}
.content-text-ciu h1{
    color:#1c4caa;
    font-size: 40px;
}
.content-text-ciu p{
    color: #1c4caa;
    font-size: 20px;
    margin-top: 20px;
    width: 470px;
}
.ciu button{
    color: white;
    padding: 10px 65px 10px 65px;
    border-radius: 28px;
    border: 0px;
    font-size: 20px;
    margin-top: 40px;
    background-color: #1c4caa;
    width: 200px;
    cursor: pointer;
}
.ingeniera{
    width: 100%;
    height:717px;
    background:url(../img/uatf.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*background-attachment: fixed;*/ 
   /*background: #373B44;  /* fallback for old browsers */
  /*  background: -webkit-linear-gradient(to top, hsla(224, 80%, 20%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/uatf.jpg);
    background: linear-gradient(to top, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url();*/
   
   /* background: linear-gradient(to bottom, #032961, #00266c, #012276, #131c7e, #251185),url(../img/uatf.jpg);*/
}
.ingeniera:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000f7a;
    opacity: 0.780;
}
.inge{
    padding: 50px 200px;
    position: relative;
   
}
.inge img{
    border-radius: 50%;
    padding: 10px 200px;
    height: 300px;
    text-align: center;
    align-items: center;
}
.content-text-ing h1 {
    color:#fff;
    text-align: center;
    font-size: 37px;
}
.content-text-ing p{
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin: 20px;
}
.contactos{
    background: #fff;
}
.ola2{
    background: url(../img/wave2.svg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    text-align: center;
}
.con{
    padding: 100px 200px 75px;
}
.con h1{
    color: #1c4caa;
    font-size: 50px;
}
.con p{
    text-align: center;
    font-size: 17px;
    margin-top: 30px;
    padding: 0px 50px;
    color: #1c4caa;
}
.correo{
    padding: 10px 10px 10px 10px;
    border-radius: 28px;
    border: none;
    font-size: 20px;
    margin-top: 0px;
    background-color: #d2d3d778;
    height: 40px;
    width: 300px;
    text-align: left;
}
.ola3{
    background: url(../img/wave3.svg);
    height: 300px;
    width:138.72%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    margin-top: 90px;
}
.suscribirse button{
    color: white;
    border-radius: 28px;
    border: 0px;
    font-size: 20px;
    background-color: #1c4caa;
    width: 150px;
    height: 40px;
    cursor: pointer;
}
footer{
    color: #fff;
    background: #000;
    height:300px;
}
.container-footer{
    display: flex;
    padding: 60px;
}
.container-footer h3{
    font-size: 24px;
}
.titulo p{
    width: 330px;
    margin-right: 20px;
}
.social-icon{
    margin-top: 10px;
    display: inline-block;
    color: #000;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
}
.social-icon i{
    font-size: 20px;
    line-height: 25px;
}
.sobre p{
    width: 230px;
    margin-right: 20px;
    line-height: 30px;
    padding-right:66px;
}
.servicios p{
    width: 130px;
    margin-right: 20px;
    line-height: 30px;
    padding-right:36px;
}
.otros p{
    width: 130px;
    margin-right: 20px;
    line-height: 30px;
    padding-right:40px;
   }
